In [1]:
import pandas as pd
from scraping_function import *
from utils import *
import os

In [2]:
for month in range (1, 13):
    movies_released= get_movies_per_date(2000, month)
    print(f"Total movies released in {2000}/{month}: {sum(movies_released.values())}")
    time.sleep(1) # add a delay to not overwhelm the server

Total movies released in 2000/1: 103
Total movies released in 2000/2: 64
An error occurred: The read operation timed out
Total movies released in 2000/3: 67
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/4: 83
An error occurred: HTTP Error 504: Gateway Time-out
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/5: 67
An error occurred: HTTP Error 504: Gateway Time-out
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/6: 76
An error occurred: HTTP Error 504: Gateway Time-out
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/7: 52
Total movies released in 2000/8: 59
Total movies released in 2000/9: 112
Total movies released in 2000/10: 105
Total movies released in 2000/11: 44
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/12: 302

In [3]:
for month in range (1, 13):
    movies_released= get_movies_per_date(2001, month)
    print(f"Total movies released in {2000}/{month}: {sum(movies_released.values())}")
    time.sleep(1) # add a delay to not overwhelm the server

An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/1: 113
An error occurred: HTTP Error 504: Gateway Time-out
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/2: 74
Total movies released in 2000/3: 83
Total movies released in 2000/4: 81
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/5: 64
Total movies released in 2000/6: 88
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/7: 67
An error occurred: HTTP Error 504: Gateway Time-out
An error occurred: HTTP Error 504: Gateway Time-out
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/8: 83
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/9: 126
An error occurred: HTTP Error 504: Gateway Time-out
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/10: 109
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/11: 53
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/12: 236

In [4]:
for month in range (1, 13):
    movies_released= get_movies_per_date(2002, month)
    print(f"Total movies released in {2000}/{month}: {sum(movies_released.values())}")
    time.sleep(1) # add a delay to not overwhelm the server

An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/1: 106
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/2: 87
Total movies released in 2000/3: 91
Total movies released in 2000/4: 87
Total movies released in 2000/5: 91
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/6: 76
Total movies released in 2000/7: 70
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/8: 95
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/9: 124
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/10: 116
Total movies released in 2000/11: 58
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/12: 196

In [5]:
for month in range (1, 13):
    movies_released= get_movies_per_date(2003, month)
    print(f"Total movies released in {2000}/{month}: {sum(movies_released.values())}")
    time.sleep(1) # add a delay to not overwhelm the server

An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/1: 106
Total movies released in 2000/2: 59
Total movies released in 2000/3: 113
An error occurred: HTTP Error 504: Gateway Time-out
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/4: 85
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/5: 128
Total movies released in 2000/6: 86
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/7: 53
An error occurred: HTTP Error 504: Gateway Time-out
Total movies released in 2000/8: 85
Total movies released in 2000/9: 134
Total movies released in 2000/10: 91
Total movies released in 2000/11: 75
Total movies released in 2000/12: 183

In [6]:
# for month in range (1, 13):
#     movies_released= get_movies_per_date(2004, month)
#     print(f"Total movies released in {2000}/{month}: {sum(movies_released.values())}")
#     time.sleep(1) # add a delay to not overwhelm the server

In [20]:
output_file= 'data/dec_links.txt'
year=2000
month=12

month_str = f"{month:02d}"

# Combine links into a single file
links = []
for day in range(1, 32):
    day_str = f"{day:02d}"
    file_path = f"movies/{year}/{month_str}/{year}-{month_str}-{day_str}_links.txt"
    if os.path.exists(file_path):
        with open(file_path, 'r') as file:
            links.extend(file.read().splitlines())
        print(f"Wrote links from {file_path} to '{output_file}'")
    else:
        print(f"No file found for {year}-{month_str}-{day_str}")

with open(output_file, 'w') as fo:
    fo.write('\n'.join(links))

Wrote links from movies/2000/12/2000-12-01_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-02_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-03_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-04_links.txt to 'data/dec_links.txt'
No file found for 2000-12-05
Wrote links from movies/2000/12/2000-12-06_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-07_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-08_links.txt to 'data/dec_links.txt'
No file found for 2000-12-09
Wrote links from movies/2000/12/2000-12-10_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-11_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-12_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-13_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-14_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-15_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-16_links.txt to 'data/dec_links.txt'
No file found for 2000-12-17
Wrote links from movies/2000/12/2000-12-18_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-19_links.txt to 'data/dec_links.txt'
No file found for 2000-12-20
Wrote links from movies/2000/12/2000-12-21_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-22_links.txt to 'data/dec_links.txt'
No file found for 2000-12-23
No file found for 2000-12-24
Wrote links from movies/2000/12/2000-12-25_links.txt to 'data/dec_links.txt'
Wrote links from movies/2000/12/2000-12-26_links.txt to 'data/dec_links.txt'
No file found for 2000-12-27
No file found for 2000-12-28
No file found for 2000-12-29
No file found for 2000-12-30
Wrote links from movies/2000/12/2000-12-31_links.txt to 'data/dec_links.txt'

In [76]:
import time
with open('data/jan_links.txt', 'r') as file:
    links= file.read().splitlines()

movie_details=[]
for link in links:
    movie_details.append(get_movie_details(link))
    time.sleep(1)

In [77]:
movie_details[0]

{'Title': 'Escape to Grizzly Mountain',
 'Year': 2000,
 'Rating': 5.8,
 'Genre': 'Drama, Family, Sci-Fi',
 'Runtime': 95,
 'Director': 'Anthony Dalesandro',
 'Cast': 'Dan Haggerty, Jan-Michael Vincent, Miko Hughes, Cody McMains',
 'Description': 'Jimmy, a young boy trying to gain acceptance from his peers, is horrified when he sees a circus trainer abusing a bear cub One of the circus employees tells Jimmy that there is a magic cave in the hills nearby that can transport people to another time, and that maybe he can use it to help the bear Jimmy does some exploring, finds the cave, and is amazed to find himself transported back to the early 1800\'s where he encounters Jeremiah, a nature-loving mountain man with a bear friend of his own Jeremiah agrees to come to the future and help out Jimmy, but the 21st century is quite different from the 19th, and springing the bear cub will not be as easy as Jeremiah thinks Not in any way related to the "Grizzly Adams" television series.',
 'Certificate': ' G',
 'URL': 'https://www.imdb.com/title/tt0198460/'}

In [79]:
df = pd.DataFrame([movie_details[0]])

for i in range(1, len(movie_details)):
    counter= pd.DataFrame([movie_details[i]])
    df= pd.concat([df, counter])

In [80]:
df.drop(df.columns[-1], axis=1, inplace=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, 0 to 0
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        96 non-null     object
 1   Year         96 non-null     float64
 2   Rating       96 non-null     float64
 3   Genre        96 non-null     object
 4   Runtime      96 non-null     float64
 5   Director     95 non-null     object
 6   Cast         96 non-null     object
 7   Description  96 non-null     object
 8   Certificate  74 non-null     object
 9   URL          96 non-null     object
dtypes: float64(3), object(7)
memory usage: 8.9+ KB